@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');

.red {
    height: 789px;
    background: linear-gradient(#e66465, #9198e5);
    font-family: 'Lato', sans-serif;
}

.page {
    height: 750px;
    width: 96%;
    background: linear-gradient(to right, #EDEDED 50%, white 50%);
    position: absolute;
    top: 19.5px;
    left: 28.8px;

}

/* Nouvelle Partie */ /* Boutton à Régler */

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v114/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1n-q_4MrImHCIJIZrDCvHOejbd5zrDAt.woff2) format('woff2');
  }
  
  .material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 40px;
    color: #e66465;
    height: 40px;
    padding: 0px;
    border: 0px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
  }

.new_game {
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

p {
    font-size: 30px;
    padding-left: 10px;
}

/* Pop-up */

#pop_up {
    display: none;
}

/* Players */

/* fgdugyjkhgufjfl:hkudjfyfyihldivgdfyhufreiofhjkhezvfurehgfkherzcvirhfgerfcehfkevdfiezhfielzvfeyzgfrfbhkezfgou'hfkerdfieufhbezycfeifkez */ 

/* Canvas */

.canvas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    margin-right: 200px;
    margin-left: 200px;
}

#count_one, #count_two {
    margin-top: 25px;
}


#dice {
    margin-top: 50px;
    margin-bottom: 25px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px grey;
}

canvas {
    background-color: #e66465;
}

/* Points */

.points {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-right: 225px;
    margin-left: 225px;
}

.roll_dice, .hold {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.touch {
    padding-top: 30px;
    height: 100px;
}

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v114/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1n-q_4MrImHCIJIZrDCvHOelbd5zrDAt.woff) format('woff');
  }
  
  @font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v114/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1n-q_4MrImHCIJIZrDCvHOelbd5zrDAt.woff) format('woff');
}


